django==5.1.5
django-environ==0.10.0
djangorestframework==3.14.0
django-cors-headers==3.14.0
djangorestframework-simplejwt==5.2.2
psycopg[binary]
celery
django-celery-beat
django_ratelimit
django-ipware==5.0.0
setuptools
zxcvbn
python-json-logger

# redis
redis[hiredis]
django-redis==5.2.0

drf-yasg==1.21.8
django-extensions==3.2.3