version: '3.8'

services:
  db:
    image: postgres:16
    volumes:
      - fc_db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: main_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: yes
    ports:
      - "5432:5432"
  
  backend:
    build:
      context: ../
      dockerfile: docker/backend/Dockerfile
    volumes:
      - ../backend:/backend
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ../
      dockerfile: docker/frontend/Dockerfile
    volumes:
      - ../frontend:/frontend
      - frontend_node_modules:/frontend/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  db_volume:
  frontend_node_modules: